<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    
    <%=image_tag "profile.jpg", width:300, alt:"profile image" %>
  </div>
  
  <div class="col-md-8">
      <p>I'm a geek who wants to learn how to make video games and likes riding bikes. I'm also a big fan of mythology.</p>
  </div>
</div>


